body {
  display: flex
}

.containerSection {
  display: flex;
  flex-direction: row;
}

.reservationSection {
  display: flex;
  flex-direction: row;
}

.reviewsSection {
  display: flex;
  flex-direction: row;
}